# misc
tmp*
junk*
rats.aux
rats.hp
rats.prof
rats.ps
*perf.data*
# haskell/rust build
dist-newstyle/
rust-derp/target/
target/
# generated data
diagrams/*.svg
diagrams/*.pdf
flamegraph*
out.*
**/data/*.json
/*.json
*.out.derp
# generated programs files
*.elab.*
# *.gen.*
turn-src/*.derp
